body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
      
}

a{
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

// .btn-anim {
//     position: relative;
//     display: inline-flex;
//     align-items: center; /* Assure que le contenu du bouton est centré verticalement */
//     justify-content: center;
//     padding: 10px 30px;
//     font-size: 18px;
//     color: rgb(0, 0, 0);
//     background-color: #ee8f46;
//     border: 1px solid black;
//     border-radius: 50px;
//     cursor: pointer;
//     overflow: hidden;
//     transition: background-color 0.3s ease;
// }

// .btn-anim .arrow {
//     position: absolute;
//     right: -40px; 
//     top: 8px;
//     opacity: 0;
//     font-size: 20px;
//     transition: all 0.3s ease;
// }

// .btn-anim:hover {
//     opacity: 0.8;
// }

// .btn-anim:hover .arrow {
//     right: 20px;  
//     opacity: 1;   
// }

// .btn-text {
//     display: inline-block;
//     transition: transform 0.3s ease;
// }

// .btn-anim:hover .btn-text {
//     transform: translateX(-18px);
// }
